Repository Moyotecky/tryftai-mobile-v1: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format

lefthook.yml:

assert_lefthook_installed: true
pre-commit:
  parallel: true
  scripts:
    'branch_checker.sh':
      runner: bash
      priority: 1
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts, jsx, tsx}'
      run: npx tsc --noEmit
    format:
      glob: '*.{js,jsx,ts,tsx,json,md}'
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix: project config, recommended extensions and project formatting and linting setup
  app/(check-update)/index.tsx
  app/(private)/home/index.tsx
  app/(private)/home/summary.tsx
  app/(private)/qr-code/account-details.tsx
  app/(private)/qr-code/scan-qr.tsx
  app/(private)/qr-code/your-qr.tsx
  app/authentication/choose-plan.screen.tsx
  app/authentication/get-started.screen.tsx
  components/atoms/divider/index.tsx
  components/atoms/image/index.tsx
  components/atoms/index.ts
  components/modules/home/Arc.tsx
  components/modules/home/Header.tsx
  components/modules/home/MonthDiff.tsx
  components/modules/home/Score.tsx
  components/modules/home/TopExpenses.tsx
  components/modules/home/YourTopSavings.tsx
  components/modules/home/index.ts
  components/modules/summary/Arc.tsx
  components/molecules/back-header/index.tsx
  components/molecules/card/index.tsx
  components/molecules/gradient-bg/index.tsx
  components/molecules/index.ts
  components/molecules/progress-bar/index.tsx
  helpers/index.ts
  nativewind-env.d.ts
  tailwind.config.js
  tsconfig.json
Due: lint, types, format

fix: app json always accept no encryption on builds to testflight
  app.json
Due: format

fix: eas workflows to update on push to develop and auto build to testflight on push to staging
  .eas/workflows/build-staging.yaml
  .eas/workflows/deploy-ios-staging.yaml
  .eas/workflows/update-ios-staging.yaml
  app.json
  app/(private)/home/index.tsx
  components/modules/home/TopExpenses.tsx
Due: lint, format

fix: routes failing redirect to screens not existing
  api/contracts/auth/login-user-account.contract.ts
  app/(check-update)/index.tsx
  app/(private)/_layout.tsx
  app/(private)/home/index.tsx
  app/(private)/qr-code/index.tsx
  app/(private)/qr-code/scan-qr.tsx
  app/_layout.tsx
  app/authentication/_layout.tsx
  app/authentication/personal-info.screen.tsx
  app/authentication/sign-in.screen.tsx
  app/main/_layout.tsx
  app/main/index.tsx
  app/main/private/home/_layout.tsx
  app/main/private/home/account-details.tsx
  app/main/private/home/scan-qr.tsx
  app/main/private/home/summary.tsx
  app/main/private/home/your-qr.tsx
  app/main/tab/_layout.tsx
  app/main/tab/budgeting/_layout.tsx
  app/main/tab/budgeting/budgeting.screen.tsx
  app/main/tab/home/_layout.tsx
  app/main/tab/home/home.screen.tsx
  app/main/two.tsx
  app/onboarding/index.tsx
  components/modules/home/Score.tsx
  components/modules/home/YourTopSavings.tsx
  components/molecules/gradient-bg/index.tsx
  hooks/store/useAuthUserStore.ts
Due: lint, types, format

fix: cleanup project to follow eslint and prettier configs
  api/hookfactory/index.ts
  app/+not-found.tsx
  app/_layout.tsx
  app/main/private/home/account-details.tsx
  app/main/private/home/scan-qr.tsx
  app/main/private/home/summary.tsx
  app/main/tab/_layout.tsx
  components/atoms/image/index.tsx
  components/modules/home/Arc.tsx
  components/modules/home/Header.tsx
  components/modules/home/MonthDiff.tsx
  components/modules/home/Score.tsx
  components/modules/home/TopExpenses.tsx
  components/modules/home/YourTopSavings.tsx
  components/molecules/bottom-sheet/index.tsx
  eslint.config.js
  helpers/index.ts
  hooks/store/useAuthUserStore.ts
  hooks/store/useFullScreenLoadingStore.ts
  hooks/store/useOnboardingStore.ts
  hooks/store/useThemeStore.ts
  package-lock.json
  package.json
Due: lint, types, format

chore: renamed file to .screens
  app/(check-update)/index.tsx
  app/main/private/home/account-details.screen.tsx
  app/main/private/home/scan-qr.screen.tsx
  app/main/private/home/summary.screen.tsx
  app/main/private/home/your-qr.screen.tsx
  app/main/tab/home/home.screen.tsx
Due: lint, format

chore: add chore name to branch prefix
  .lefthook/pre-commit/branch_checker.sh
Due: none

chore: add chore to auto pr script
  .github/workflows/auto-pr-dev.yml
Due: none
